.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.weather-app{
  position: relative;
  margin-top: 1rem;
  border: 2px solid black;
  padding: 1em 1.5em 2em 1.5em;
}

.weather-video{
  position: absolute;
  top: 0;
  left: 0; 
  bottom: 0;
  /* z-index: -5; */
  width: 100%;
  height: 100%;
}

.weather-video > source{
  width: 100%;
  height: 100%;
}

.city-input{
  padding: 0.4em 0.8em;
  font-size: 1rem;
  border-radius: 4px;
}

.weather{
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  margin-top: 1rem;
  padding: 1em 1.4em;
  position: relative;
}

.weather-conditions-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  color: white;
}

.current-weather-img{
  height: 200px;
  background-size: cover;
  /* position: absolute;
  top: 0;
  left: 0; */

}

